<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Follow on Twitter</a></li>
          <li><a href="#" class="text-white">Like on Facebook</a></li>
          <li><a href="#" class="text-white">Email me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<main role="main">
  
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome! </h1>
      <p class="lead text-muted">Here are your folders.</p>
      <p>
        <a href="#" class="btn btn-primary">Upload New Folder</a>
        <a href="#" class="btn btn-secondary">Uploade New File</a>
      </p>
    </div>
  </section>
  
  <div class="folder text-muted">
    <div class="container" *ngFor='let file of newfile'>
  
        <div class="row">
          <div class="card">
            <img data-src="img/folderimage.png" alt="Folder image cap">
            <h4>{{file.name}}</h4>
            <p class="card-text">{{file.path}}</p>
          </div>
        </div>
  
  
    </div>
  </div>
  
  </main>
  
<p>
  filesinfolder works!
</p>
